src/main/resources/xsd/LDPAGAuthenAndGetUserRoleService2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-hudson-48-. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dexsrvint.excise.go.th/schema/AuthenAndGetUserRole" xmlns:ns0="http://dexsrvint.excise.go.th/schema/LdapUserBase" targetNamespace="http://dexsrvint.excise.go.th/schema/AuthenAndGetUserRole" elementFormDefault="qualified">
    <xsd:import schemaLocation="LDPAGAuthenAndGetUserRoleService1.xsd" namespace="http://dexsrvint.excise.go.th/schema/LdapUserBase" />
    <xsd:complexType name="AuthenAndGetUserRoleRequest">
        <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="applicationId" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AuthenAndGetUserRoleResponse">
        <xsd:complexContent>
            <xsd:extension xmlns:tns="http://dexsrvint.excise.go.th/schema/LdapUserBase" base="ns0:UserInfoBase">
                <xsd:sequence>
                    <xsd:element name="message" type="ns0:MessageBase" />
                    <xsd:element name="roles" type="ns0:RolesBase" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="RequestObj" type="tns:AuthenAndGetUserRoleRequest" />
    <xsd:element name="ResponseObj" type="tns:AuthenAndGetUserRoleResponse" />
</xsd:schema>